body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    text-align: center;
  }

  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #c35375;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background-color: #c70f56;
  }

  .result {
    margin-top: 20px;
    text-align: left;
  }